// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: Apache-2.0

@use "@cloudscape-design/design-tokens/index" as cloudscape;

/**
 * Base styles
 */

body {
  // always show vertical scrollbar
  overflow-y: scroll;
  background-color: #0f1b2a;
}

// top navigation header
#app-header {
  position: sticky;
  top: 0;
  z-index: 1002;
  margin-bottom: -1px;
  border-bottom: 1px solid cloudscape.$color-border-divider-default;
}

// preformatted text (for terms and conditions)
pre {
  font-family: inherit !important;
  margin: 0;
  white-space: pre-line;
}

// remove underline from breadcrumb links
nav > ol > li a {
  text-decoration: none !important;
}

// dont let button text wrap over >1 line
button {
  white-space: nowrap !important;
}

// hide title in side nav menu
nav h2 {
  display: none;
}

// add left spacing to side nav sections
nav ul > li > div {
  padding-left: 20px;
}

// shift top nav dropdowns up slightly
.awsui-context-top-navigation > div {
  margin-top: -10px;
}

// add padding under key value pair labels
[class^="awsui_key-label_"] {
  display: block;
  padding-bottom: 5px;
}

// shrink form wizard side nav to max 200px
form {
  nav,
  nav ul {
    max-width: 200px;
  }
}

// hide help panel toggle
main aside:nth-child(2) > div {
  display: none;
}
