// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: Apache-2.0

@use "@cloudscape-design/design-tokens/index" as cloudscape;

/**
 * Custom utility classes
 */

[data-border] {
  border: 1px solid cloudscape.$color-border-divider-default;
}

[data-shadow] {
  box-shadow:
    rgb(0 0 0 / 10%) 0 20px 25px -5px,
    rgb(0 0 0 / 4%) 0 10px 10px -5px;
}

[data-muted] {
  color: cloudscape.$color-text-input-placeholder !important;
}

[data-small-input] {
  width: 120px;
}

[data-helper-text] {
  color: cloudscape.$color-text-form-secondary;
  font-size: cloudscape.$font-size-body-s;
  line-height: cloudscape.$line-height-body-s;
}

[data-counter] {
  font-weight: 400;
}

[data-break-spaces] {
  white-space: break-spaces;
}

ul[data-list] {
  margin: 0;
  padding-left: 20px;
}

[data-inline-block] {
  display: inline-block;
}

[data-info-button] {
  &,
  span {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 20px;
    border: none !important;
    color: cloudscape.$color-background-button-primary-default !important;
    vertical-align: middle !important;
  }
}

[data-badge] {
  white-space: nowrap !important;
}

[data-small] {
  font-size: 0.9em !important;
}

[data-nowrap] {
  white-space: nowrap !important;
}

[data-wrap] {
  word-break: break-word !important;
}

[data-token-group] {
  padding-top: 4px !important;
  padding-bottom: 8px;
}

[data-embedded-table] {
  margin-top: -8px;
}

[data-float-right] {
  float: right;
  margin-top: 6px;
}
