*.js
!jest.config.js
*.d.ts
!vite-env.d.ts
node_modules/
!source/.typescript/lambda/**/*.js
!source/lambda/**/*.js
dist
bom.json
.env

# CDK asset staging directory
.cdk.staging
cdk.out

deployment/global-s3-assets
deployment/regional-s3-assets
deployment/ecr
open-source/
staging/

# Temporary folders
tmp/
temp/
.temp_*/
.build
.test-reports

### VisualStudioCode ###
.vscode

### macOS ###
.DS_Store

.idea

**/coverage
