// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: Apache-2.0

.container {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  gap: 4px;
}

.text {
  font-size: 0.9em;
}
