// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: Apache-2.0

.container {
  display: table;
}

.row {
  display: table-row;

  > * {
    padding: 4px 10px 4px 0;
    display: table-cell;
    vertical-align: top;
  }
}

.cell {
  padding-top: 6px;
}

.arrow {
  padding-top: 12px;
}
