// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: Apache-2.0

@use "@cloudscape-design/design-tokens/index" as cloudscape;

.divider {
  border-color: transparent;
  border-block-start: 1px solid cloudscape.$color-border-divider-default;
  opacity: 0.8;
}
