// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: Apache-2.0

@use "@cloudscape-design/design-tokens/index" as cloudscape;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 15px);
  width: calc(100vw - 15px);
}

.label {
  margin-top: 10px;
  color: #fff;
  font-family: cloudscape.$font-family-base;
  font-size: 14px;
}

.loader {
  width: 36px;
  height: 36px;
  border: 3px solid cloudscape.$color-background-button-primary-default;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
  margin-top: 5px;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #fff;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
